<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capital quiz</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <div>
      <p id="totalscore">Total score: <%= totalscore %></p>
      <p class="country"><%= country %></p>
      <form action="/submit" method="POST" class="padding">
        <input type="text" id="capital" name="capital" placeholder="Enter the capital">
        <input type="submit" class="submit" value="SUBMIT"> 
      </form> 
    </div>
    <script>
      const correct = new Audio('/correct-156911.mp3');
      if ("<%= playcorrect %>" === "true") {
        correct.play()
      }
    </script>
  </body>
</html>